# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Streamlit / cache
.streamlit/

# Virtual environment
venv/
.venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE specific
.vscode/
.idea/

# Build
build/
dist/
*.egg-info/
